.bicicletas-bg  {
  background: linear-gradient(to right, var(--cor-c0)40%, var(--cor-c11)0%);
  
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.0rem;
  padding-top: 6.0rem;
  padding-bottom: 6.0rem;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 2.0rem;
  background: var(--cor-c12);
  display: inline-block;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: flex-start;
}
.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}
.bicicletas h2 {
  margin-bottom: 2.0rem;
  
}
.bicicletas h2::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 0.8rem;
  background-color: var(--cor-p1);
  margin-bottom: 0.8rem;  
}

.bicicletas p {
  margin-bottom: 3.2rem;
}

.bicicletas a {
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas ul {
 display: grid;
 gap: 1.6rem;
}

.bicicletas-conteudo img {
  width: 2.4rem;
  margin-right: 0.8rem;
}

@media (max-width: 800px) {
  .bicicletas-bg {
    background: var(--cor-11);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .bicicletas a {
    place-self: start;
  }
}

