:root {
  font-size: 62.5%; /*10px*/
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-c11);
}
* {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 2.0rem;
  padding-right: 2.0rem;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"]{
  border-radius: 0.8rem;
}

a {
  color: inherit;
}

.material-icon,
.material-icon-before::before,
.material-icon-after::after {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  overflow: hidden;
  direction: ltr;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 2.4rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--coramarelo);
}
