.titulo-bg {
  background-color: var(--cor-c11);
  padding-top: 6.0rem;
  padding-bottom: 6.0rem;
}
.titulo p{
  margin-bottom: 0.4rem;
}

@media (max-width:800px){
  .titulo-bg {
    padding-top: 4.0rem;
    padding-bottom: 4.0rem;
  }
}

.termos {
  padding-top: 80px;
  padding-bottom: 80px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.termos p + h2 {
  margin-top: 40px;
}

.termos p {
  max-width: 75ch;
  margin-bottom: 24px;
}
